/* Media Queries */
@media (min-width: 600px) {
    .mobile { display: none !important; }
}

@media (max-width: 600px) {
    .mobile { display: block !important; }
    .desktop { display: none !important; }
    #breadcrumbs { display: none; }
    .header.border-b { border-bottom: 0; }
    /* Navigation */
    #top {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 995;
        background: #e2dedc;
    }
    body.flat .header {
        margin-top: 132px;
    }
    body.flat .top .column { padding: 0.5rem 0; }
    body.flat #top header.navbar {
        padding: .5rem 1rem;
        margin: 0 0.5rem;
        background: linear-gradient(0deg,rgba(186,207,247,.04),rgba(186,207,247,.04)),rgba(5,6,15,.97);
        box-shadow: inset 0 1px 1px 0 rgba(216,236,248,.2), inset 0 24px 48px 0 rgba(168,216,245,.06), 0 16px 32px rgba(0,0,0,.3);
    }
    header.navbar .navbar-center {
        margin-left: .5rem;
    }
    .navbar-section.logo {
        padding: 1rem;
    }
    header.navbar section.mobile { width: 100%; display: flex !important; align-items: center; justify-content: space-around; border-top: 1px solid var(--border-color); padding: 1rem; }
    body > div.top-spacer.border-b > div > div > div > div > div.navbar-section.border-r { padding: 0 1rem; }
    .navbar-section.mobile { display: flex !important; align-items: center; justify-content: center; width: 150px; }
    header.navbar a.btn.dropdown-toggle {
        padding: .3rem 0.5rem 0.2rem;
        background: #fff;
        margin-right: 1rem;
        background: var(--orange);
        border-radius: 1rem;
        height: auto;
    }
    /* header > section.navbar-section.logo.padding-lg.border-r.column.col-8.p-relative > a > img { display: none; } */
    header > section.navbar-section.logo.padding-lg.border-r.column.col-8.p-relative > a > span { font-size: 2rem; }
    .navbar-section.mobile { overflow: visible; }
    header.navbar .greeting { display: none; }
    body.flat header.navbar a.btn.dropdown-toggle {
        margin-right: 0.5rem;
    }
    header.navbar a.btn.dropdown-toggle:focus {
        background: #222;
    }
    header.navbar .dropdown.dropdown-right .menu {
        right: 1rem;
    }
    .menu .menu-item>a.active, .menu .menu-item>a:active {
        background: var(--orange);
        color: #fff;
    }
    body.flat .menu .menu-item>a.active, body.flat .menu .menu-item>a:active {
        background: #e1e1e1;
        color: #000;
    }
    /* Hero */
    .header .hero .hero-body { margin: 0 !important; }
    .header .hero { padding: 1rem 0 5rem; }
    .header .hero .hero-body h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .header .hero .hero-body p {
        font-size: 1.2rem;
    }
    #case-study .header .switcher,
    #about .header .switcher {
        right: 5px;
        left: inherit;
    }
    .header .switcher {
        left: 1rem;
    }
    .header .code-by {
        right: 1rem;
    }
    /* Projects */
    #work .section-header > div.text-small.text-right { display: none; }
    #work .project .columns .column { width: 100%; }
    #work .project .columns .column .media-info.text-right {
        text-align: left;
    }
    /* Brands */
    #brands .columns .column.col-3 { width: 50%; }

    /* About */
    #about-me .columns .column {
        width: 100%;
    }
    #about-me .columns .column.col-5 {
        margin-bottom: 1.5rem;
    }
    /* Case Study */
    section#case-study .columns.section .col-9,
    section#case-study .columns.section .col-3 {
        width: 100%;
    }
    #case-study p.introduction { margin-bottom: 0; }
    #case-study .col-4 h3 { padding: 0 0 1rem; }
    section#case-study .columns.section .col-3 .heading { margin-top: 2rem; }
    section#case-study .column.col-12 > .columns > .column { width: 100%; }
    section#case-study .overview { padding: .5rem; }
    #case-study .overview .ux .col-12 h5, #case-study .overview .ui .col-12 h5 {
        padding: 1rem .25rem;
        font-size: 1rem;
    }
    #case-study .overview .ux .columns .col-5 {
        width: 95%;
        margin: 0;
    }
    #case-study .overview .ui .columns .col-2,
    #case-study .overview .ux .columns .col-2 { 
        display: none;
        width: 0;
        margin: 0;
    }
    #case-study .overview .ui .columns .col-6 {
        width: 100%;
    }
    section#case-study figure.figure {
        width: 100%;
        float: none;
    }
    section#case-study figure.figure > img {
        width: 100%;
    }
    /* Footer */
    footer .columns .bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    footer .bottom p {
        width: 100%;
    }
    footer .bottom .footer-grid {
        width: 100%;
        margin-top: 1rem;
    }
}