/*  tylerhagan.co.uk  */
/* Var */
@import "flat.css";
@import "mobile.css";
:root {
    --animation-primary: all .3s cubic-bezier(.7, 0, .3, 1);
    --bg-grey: #999d9e;
    --petrol-blue: #5bb1db;
    --dark-blue: #303742;
    --orange: #fc3b0f;
}
html { background: #e2dedc; scroll-behavior: smooth; }
body {
    background-color: #fff;
    background-image: url('../img/noise-background.png');
    scroll-behavior: smooth;
    font-family: 'Satoshi-Variable', Arial, Helvetica, sans-serif;
}
img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}
figure { margin: 0; }
.figure {
    margin: 0 0 1rem 0;
}
figcaption { font-style: italic; margin-top: .4rem; }
/* Typography */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../fonts/Satoshi-Variable.woff') format('woff'),
         url('../fonts/Satoshi-Variable.ttf') format('truetype');
         font-weight: 300 900;
         font-display: swap;
         font-style: normal;
  }

a { font-weight: 600; color: var(--petrol-blue); }
a:hover { color: var(--petrol-blue); }
a.btn {
    background: #292929;
    border-color: transparent;
    border-top: 2px solid #ffffff73;
    border-radius: 0.25rem;
    border-bottom: 2px solid #000;
    color: #fff;
    text-transform: uppercase;
}
a.btn:hover {
    background: #111;
    border-color: transparent;
}
.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover { color: var(--orange); }
.btn.btn-sm { padding: 0.05rem 0.6rem; }
.navbar * { font-size: 1.2rem;}
.navbar *, h1, h2, h3, h4, h5, h6, .heading { font-family: 'Satoshi-Variable', Arial, Helvetica, sans-serif; font-weight: 400; }
h2, h4, h5, h6 { font-weight: 350; text-transform: uppercase; }
h5 { margin: 1.5rem 0 1rem; font-size: 1.1rem; }

/* Utility */
.header a[href^="http"]::after,
.top a[href^="http"]::after,
.header a[href^="https://"]::after,
.main a[href^="https://"]::after {
  content: "";
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background-image: url("../img/icon-external.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.header a[href^="https://"]::after {
    background-image: url("../img/icon-external-white.svg");
}
.black-block {
    color: rgb(241, 242, 242);
    background: #121111;
    padding: .25rem .5rem;
    width: -moz-fit-content;
    width: fit-content;
}
.orange-block { 
    background: var(--orange);
    padding: .25rem .5rem;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
}
.orange-block a {
    color: #fff;
    font-weight: 600;
}
.orange-block a:not(:first-child) {
    color: #fff;
    margin-top: -5px;
    margin-left: .5rem;
}
.switcher { 
    position: absolute;
    bottom: 0;
    right: 180px;
    z-index: 990;
}
#about .switcher,
#case-study .switcher {
    top: .25rem;
    bottom: inherit;
    z-index: 990;
    right: 0;
}
#case-study.flat .switcher,
#about.flat .switcher {
    top: .5rem;
}
.bordered { border: 5px solid #fff; transition: all .3s ease-in-out; border-radius: 15px; }
.bordered > img { border-radius: 12px; }
.bordered:hover { transform: scale(1.025); transition: all .3s ease-in-out; }
ul.unstyled { list-style: none; margin-left: 0; }
ul.unstyled li { margin-top: 0.1rem; }
dl { font-size: 1rem; }
dl > dd {
    font-size: .9rem;
    margin-bottom: 0.4rem;
}
.rounded { border-radius: .8rem; }
a.link {
    background: var(--orange);
    color: #fff; 
    padding: .1rem .25rem;
}
.form-checkbox input:focus+.form-icon, .form-radio input:focus+.form-icon, .form-switch input:focus+.form-icon {
    border-color: #111;
}
.form-checkbox input:checked+.form-icon, .form-radio input:checked+.form-icon, .form-switch input:checked+.form-icon {
    background: var(--petrol-blue);
    border-color: var(--petrol-blue);
}

/* Navigation */
#top {
    background: #f7f7f7;
    border-top: 4px solid rgba(255,255,255,.4);
    border-bottom: 4px solid rgba(0,0,0,.4);
}
.backdrop {
    background: #111;
}
.navbar .logo { height: 62px; filter: drop-shadow( 2px 2px 0px rgba(255, 255, 255, .4)); }
.top .column { padding: 1.5rem 0; }
.navbar a.btn {
    border-radius: 0.15rem;
    padding: 0.5rem 0.8rem;
    height: auto;
    color: #383430;
    transition: background-color .2s cubic-bezier(.7, 0, .3, 1);
    text-transform: uppercase;
    font-size: 1.1rem;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
   /* box-shadow: 3px 0 6px -3px rgba(0,0,0,0); */
}
.navbar a.btn:hover { 
    background: var(--orange);
    color: #fff;
    transition: var(--animation-primary);
    border-top: 3px solid rgba(255,255,255,0.5);
    border-left-color: rgba(255,255,255,0.2);
    border-bottom: 2px solid rgba(0,0,0,0.2);
    /* box-shadow: 3px 1px 6px -3px rgba(0,0,0,.4); */
 }
 .navbar a.btn:focus {
    box-shadow: inset 3px 1px 6px 0px rgba(0,0,0,.4), 2px 2px 0px 0 rgba(255,255,255,.6);
    border-top: 2px solid rgba(0,0,0,0.4);
    border-left: 2px solid rgba(0,0,0,0.4);
    border-bottom: 2px solid transparent;
 }

.header {
    position: relative;
    box-shadow: inset 0 3px 5px 2px rgb(0 0 0 / 78%), 0 3px 6px 3px rgb(0 0 0 / 60%);
    border-bottom: 2px solid rgba(0,0,0,.4);
}

.header:before {
    content:"";
    position:absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .05)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .05)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
    background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
    background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
}
/* Hero */
.hero { padding-top: 8rem; padding-bottom: 8rem;}
.hero .hero-body { margin: 3rem 0; }
.hero .hero-body h1 { font-size: 3rem; color: #fff; }
.hero .hero-body p { font-size: 1.8rem; color: var(--orange); font-weight: 300; }
.hero .hero-body a { color: var(--petrol-blue); }

/* Code by Interaction */
.code-by {
    background: var(--orange);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0;
    font-size: 1rem;
    padding: 0.25rem 0.75rem 0.15rem;
    right: 0;
    font-weight: 600;
    cursor: default;
    overflow: hidden;
    transition: var(--animation-primary);
    color: #fff;
 }
.code-by:hover {
    transform: rotate(-2deg);
    box-shadow: 8px 8px 0 0 rgba(0,0,0,1);
}

.code-by .code-contained {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.code-by .intro-code {
    transform: translateX(0) rotate(0.001deg);
    position: relative;
    display: inline-block;
    transition: var(--animation-primary);
}

.code-by:hover .intro-code {
    transform: translateX(-3.6em) rotate(0.001deg);
}

.code-by .credit {
    transform: translateX(0) rotate(0.001deg);
    position: relative;
    display: inline-block;
    transition: var(--animation-primary);
}

.code-by:hover .credit {
    padding-right: .2em;
    transform: translateX(-3.6em) rotate(0.001deg);
}

.code-by .hagan {
    position: absolute;
    opacity: 1;
    transition: var(--animation-primary);
    top: 0;
    left: 0;
    transform: translateX(2.5em);
    white-space: nowrap;
}

/* Sections */
main .container.grid-xl { padding-right: 1em; padding-left: 1rem; }
section:not([class]) { margin-top: 3rem; }
main {
    border-top: 1px solid transparent;
}
section#breadcrumbs { margin-top: 0; }
ul.breadcrumb { z-index: 99; position: relative; }
.section-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: end;
    align-items: end;
}
.breadcrumb .breadcrumb-item:not(:last-child) a {
    color: var(--petrol-blue);
}
.breadcrumb .breadcrumb-item span {
    color: #fff;
}
.section-header h2 { 
    color: #111;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 350;
}
.heading { margin-bottom: 2rem; }

#brands  .section-header {
    border-bottom: 1px solid var(--bg-grey);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
#brands .card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .8rem;
    border: 5px solid #ccc;
    border-radius: 12px;
}

#brands .card .card-image {
    max-width: 80%;
}

/** Case Study **/
#about-me .column .heading,
#case-study .column .heading {
    border-bottom: 1px solid var(--bg-grey);
}
#case-study .column h3 > em { font-size: inherit; }
#case-study main .column h4 {
    margin: 2rem 0 1rem;
    border-bottom: 1px solid var(--bg-grey);
    padding-bottom: 1rem;
}
#case-study .column h4:not(:first-child) { margin-top: 3rem; }

/* Breakdown */
#case-study .overview {
    background: #f7f7f7;
    border: 2px dashed #ccc;
    border-radius: .8rem;
    padding: 1rem;
    margin: 2rem 0 1rem;
}
#case-study .overview .ux .col-12,
#case-study .overview .ui .col-12 {
    margin: 0 0 1rem;
    padding:0;
}
#case-study .overview .ux .col-12 h5,
#case-study .overview .ui .col-12 h5 {
    background: var(--dark-blue);
    border-radius: .8rem;
    padding: 1rem;
    color: #fff;
    margin-left: -.5rem;
    margin-top: 0;
}
#case-study .overview .ui .col-12 h5 {
    margin-right: -.5rem;
}
#case-study .overview .ux .columns .column,
#case-study .overview .ui .columns .column {
    border-radius: .8rem;
    padding: .75rem 1rem;
    line-height: 1rem;
}
#case-study .overview .ux .columns:nth-child(2) .column {
    margin-top: 0;
}
#case-study .overview .ux .columns:last-child .column {
    margin-bottom: 0;
    margin-right: 0.5rem;
}
#case-study .overview .ux .columns .column {
    margin-top: .25rem;
    margin-bottom: .25rem;
}
#case-study .overview .ui .columns .column {
    padding: 1.1rem;
}
#case-study .overview .ux .columns .col-5 {
    background: #1FB3AE;
    color: #FFF;
}
#case-study .overview .ui .columns .col-6 {
    background: #227C9D;
    color: #FFF;
}
#case-study .overview .ui .columns:nth-child(3) .column{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#case-study .overview .ux .columns .column strong,
#case-study .overview .ui .columns .column strong {
    display: block;
}

/* Projects */
.project { padding-top: 4rem; margin-top: 4rem; border-top: 1px solid var(--bg-grey) }
#work > div > div:nth-child(2) { margin-top: 2rem; }
.project .media { margin-top: 1rem; }
.project .media p { margin: 1rem 0 0; }
.project .media a { border: 5px solid #FFF; display: block; border-radius: 15px; }
.project .media a > img { border-radius: 13px; }
.project .media > img { border: 5px solid #fff; transition: all .3s ease-in-out; border-radius: 15px;  }
.project .media > img:hover { transform: scale(1.025); transition: all .3s ease-in-out; }
.project .media a:hover {
    box-shadow: 8px 8px 0 0 var(--orange);
    transform: scale(1.025); transition: all .2s ease-in-out;
}
.project .media-info { display: flex; margin-top: 1rem; justify-content: end; }
.project .media-info span { border: 1px solid var(--dark-blue); width: -moz-fit-content; width: fit-content; padding: .15rem 1rem; }
.project .chip {
    border-radius: 0;
    box-shadow: 4px 4px 0 0px #7aa9e0;
    text-transform: uppercase;
    font-size: 80%;
}
.project .chip .avatar {
    background-color: transparent;
    border-radius: 0;
}

/* Footer */

footer { 
    margin-top: 6rem;
    padding: 3rem 0 2rem;
    box-shadow: inset 0 3px 3px 0 rgba(0,0,0,.4);
}
footer .logo { width: 64px; }
footer h4 { font-size: 3rem; margin: 3rem 0 4rem; text-transform: none; }
footer p { margin: 0; }
footer svg {
    stroke: var(--bg-grey);
    overflow: hidden;
    vertical-align: middle;
}
footer a:hover svg {
    stroke: var(--petrol-blue);
}
footer .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footer-grid {
    display: grid;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    grid-column-gap: 16px;
    grid-template-columns: repeat(3,1fr)
}

/* Lightbox */
a.opener {
    display: block;
}
a.opener:hover {
    box-shadow: 8px 8px 0 0 var(--orange);
}
.lightbox {
    /* Default to hidden */
    display: none;

    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* A bit of padding around image */
    padding: 1em;
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
    display: block;
}
  
.lightbox div {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;

    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}  